.vscode/**
.vscode-test/**
.git/**
.github/**
src/**
tests/**
coverage/**
design/**
.gitignore
.gitattributes
.npmrc
.eslintrc.json
.python-version
.tool-versions
main.py
pyproject.toml
tsconfig.json
vitest.config.ts
**/*.map
**/*.ts
*.vsix
PR.md
**/pull_request_*.md